# Dependências
node_modules/

# Build/output
dist/
build/
coverage/

# Cypress artefatos
cypress/screenshots/
cypress/videos/

# Ambiente
.env
.env.local
.env.test

# Logs
*.log

# Configurações do sistema/IDE
.vscode/
.DS_Store
Thumbs.db

# Git
.git/